DB_HOSTNAME=localhost
DB_DATABASE=secmjam
DB_USER=secmjam
DB_PASSWORD=password

E-MAIL_HOST=smtp.example.com
E-MAIL_PORT=587
E-MAIL_USER=your@email.com
E-MAIL_PASSWORD=your-password
E-MAIL_FROM=your@email.com
E-MAIL_FROM_NAME="Your Name"
E-MAIL_TO=your@email.com
E-MAIL_TO_NAME="Your Name"