APP_ENV=local
APP_ADDRESS=
APP_TIMEZONE=Europe/Vienna

DB_HOSTNAME=
DB_DATABASE=
DB_USER=
DB_PASSWORD=

EMAIL_SMTP=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=your@email.com
EMAIL_PASSWORD=your-password
EMAIL_FROM=your@email.com
EMAIL_FROM_NAME="Your Name"
EMAIL_TO=your@email.com
EMAIL_TO_NAME="Your Name"

ALTCHA_HMAC_SECRET=your-hmac-secret